@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Quintessential&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*
todo el contenido de la pagina body 
*/
body{ 
    background: linear-gradient(
        to top,
         rgba(26, 24, 24, 0.3),
         rgba(26, 22, 22, 0.3)),
    url(/img/bodddy.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    font-family: 'Merriweather', serif;    
    color: #222; /* Texto oscuro */
    display: flex;
    flex-direction: column; 
}
/*
todo el baner de la info 
*/


.baner-content {
    background: linear-gradient(
        to top,
         rgba(26, 24, 24, 0.95),
         rgba(26, 22, 22, 0.5)),
    url(/img/fondo-nav.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.baner{      
    min-height: 70vh;
    color: white;
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 40px;    
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: o auto;
}
.info{   
    position: relative;
    background: transparent;
    padding-left: 30px;
    margin: o;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;

}
.info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px; /* Ancho de la línea */
    height: 100%; /* Altura completa del contenedor */
    background-color: #0cf104; /* Color de la línea */
    border-radius: 4px; /* Bordes redondeados (opcional) */
    
}


.info h1{
    font-family: 'Quintessential', sans-serif;
    font-size: clamp(2rem, 6vw, 4rem);
    margin-bottom: 20px;  
    margin-left: 40px;    
}
.info h2{
    font-family: 'Times New Roman', sans-serif;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin: 25px;
}
.info h3{
    font-family: 'Quintessential', sans-serif;
    font-size: clamp(1.2rem, 3vw, 2rem);  
    margin-left: 40px; 
    margin-top: 15px;
}
.info h1,
.info h2,
.info h3{
    text-align: left;  
    transform: scale(1.1);
    text-shadow:         
        2px 2px 10px rgba(0,0,0,1),
        4px 4px 15px rgba(0,0,0,1),
        6px 6px 25px rgba(0,0,0,1),
        8px 8px 35px rgba(0,0,0,1),
        0 0 25px rgba(0,0,0,1),
        0 0 40px rgba(0,0,0,1),
        0 0 60px rgba(0,0,0,0.95),
        0 0 80px rgba(0,0,0,0.95),
        0 0 100px rgba(0,0,0,0.9),
        0 0 120px rgba(0,0,0,0.85);   
}

.foto{   
    height: auto;
    object-fit: cover;
    border-radius: 1%;
}

/*barra navegador */
.navbar {
  /* Fondo con degradado blanco semitransparente */
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,   
      rgba(255, 255, 255, 0.05) 100%  
    ),
    rgba(36, 35, 35, 0.85); 

  padding: 10px 20px;
  text-align: center;
  justify-content: center;
  display: flex; 
  border-top: 2px solid rgba(0, 0, 0, 0.5);  
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;    
    padding: 0;
    margin: 0;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(13, 238, 5);
    font-size: 0.99vw;
    margin: 25px;
}
.navbar ul li a:hover {
    color: white; /* Color al pasar el cursor */     
    text-shadow: 0 0 5px rgba(13, 238, 5, 0.8),
               0 0 10px rgba(13, 238, 5, 0.6),
               0 0 15px rgba(13, 238, 5, 0.4);
}



/*
boton descarga
*/

.descarga{    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;     
    margin-bottom: -95px;
}
.descarga .btn{    
    font-size: 2rem;
    padding: 12px 30px;    
    border-radius: 18px;
    background-color: #28a745; 
    color: white; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 4);
}

.descarga button:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 18px rgba(255,255,255,0.3);
}
/*
contenido sobre mi
*/

.sobre-mi{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: transparent; 
    border-radius: 8px;    
}

h1{
    font-size: 5rem;
    margin-bottom: 20px;
    color: white;
    font-family: 'Quintessential', sans-serif;
    text-align: center;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
     
}
h2{
    font-size: 4rem;
    margin-bottom: 20px;
    color: white;
    font-family: 'Quintessential', sans-serif;
    text-align: center;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}
p{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.3s ease, text-shadow 0.3s ease; 
    
}
ul{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;    
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    
}

.sobre-mi h1:hover, .sobre-mi h2:hover, .sobre-mi p:hover, .sobre-mi ul:hover {
    transform: scale(1.12); 
    text-shadow:         
        2px 2px 10px rgba(0,0,0,1),
        4px 4px 15px rgba(0,0,0,1),
        6px 6px 25px rgba(0,0,0,1),
        8px 8px 35px rgba(0,0,0,1),
        0 0 25px rgba(0,0,0,1),
        0 0 40px rgba(0,0,0,1),
        0 0 60px rgba(0,0,0,0.95),
        0 0 80px rgba(0,0,0,0.95),
        0 0 100px rgba(0,0,0,0.9),
        0 0 120px rgba(0,0,0,0.85);              
                   
}
/*PROYECTOS*/
.proyect { 
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.95) 30%,  
        rgba(0, 0, 0, 0.88) 100%  
    );   
    width: 100%;              
    min-height: 100vh;      
    padding: 40px 20px;
    display: flex;    
    flex-direction: column;
    align-items: center;       
      
}

.proyect h1{
    font-size: 5rem;
    margin-bottom: 20px;
    color: white;
    font-family: 'Quintessential', sans-serif;
    text-align: center;
    transition: transform 0.3s ease, text-shadow 0.3s ease;    
}

.proyect h1:hover {
    transform: scale(1.12); 
    color: black;
    text-shadow:         
        2px 2px 10px rgb(255, 255, 255),
        4px 4px 15px rgba(255, 253, 253, 0.993),
        6px 6px 25px rgb(255, 255, 255),
        8px 8px 35px rgb(255, 255, 255);  
    transition: all 0.3s ease;                   
}
.proyect-conteiner{ 
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;

    
}


.proyecto-direct {
    position: relative;
    overflow: hidden;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;  

}

.proyecto-direct img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.proyecto-direct:hover img {
    transform: scale(1.1);
    border-radius: 35px; 
}

.proyecto-direct::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,
        rgba(0, 0, 0, 0.7),   
        rgba(0, 0, 0, 0.2)   
    );
    transition: opacity 0.3s ease;
}

.proyecto-direct h2{
    position: absolute; 
    left: 50%;
    top: 30%;  
    transform: translateX(-50% );
    color: white;
    font-size: 4rem;
    font-family: 'Quintessential', serif;
    z-index: 2;
        
}

.proyecto-direct .icono {
    position: absolute;
    left: 40%;
    top: 70%;
    z-index: 2 ;
    font-size: 1.8rem;
    display: flex;
    gap: 15px;

}
.proyecto-direct .icono a {    
    margin: 0 5px;
    transition: color 0.3s ease;
}


.proyecto-direct a:hover{
    transform: scale(1.1);    
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
               0 0 10px rgba(255, 255, 255, 0.6),
               0 0 15px rgba(255, 255, 255, 0.4);
}
.proyecto-direct h2:hover{
    transform: translateX(-50%) scale(1.1); 
    transform-origin: center;   
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
               0 0 10px rgba(255, 255, 255, 0.6),
               0 0 15px rgba(255, 255, 255, 0.4);
}
.proyecto-direct:hover::after {
    opacity: 0.1; 
}





/*
Responsive
*/

@media (max-width: 1012px) {
    .proyect-conteiner {
        grid-template-columns: 1fr; /* Solo una columna */
    }

    .proyecto-direct h2 {
        font-size: 2.5rem; /* más pequeño para pantallas chicas */
    }

    .proyecto-direct .icono {
        font-size: 1.2rem; /* íconos más chicos */
        left: 50%;
        transform: translateX(-50%);
    }
}


@media (max-width: 431px) {
    .proyecto-direct img {
        width: 85%;   /* imagen más pequeña y centrada */
        margin: 0 auto;
    }

    .proyecto-direct h2 {
        font-size: 1.8rem; /* título más pequeño */
        top: 25%;
    }

    .proyecto-direct .icono {
        font-size: 1rem; /* íconos más pequeños */
        top: 55%;
        gap: 10px;
    }
}
@media (max-width: 461px) {
    .descarga button {
        margin-bottom: -43px;
        transform: translateY(-50%);
        font-size: 0.9rem;   /* Opcional: reduce tamaño del texto */
        padding: 8px 16px;   /* Ajuste opcional del botón */
    }
}



@media (max-width: 2026px) {
  
  .baner {
    justify-content: center;
  }

  /* hacer que la caja de texto se reduzca proporcionalmente */
  .info {
    flex: 0 1 450px;   
    max-width: 950px;  
    padding: 24px;     
    height: auto;    
  }

  /* hacer que la caja de la foto se reduzca proporcionalmente */
  .foto {
    flex: 0 1 320px;   
    max-width: 380px;  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .foto img {
    width: 620px;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
@media (max-width: 1261px) {
  .baner {
    flex-direction: column;  
    text-align: center;
    text-align: center;
  } 

  .foto {
    order: -1; /*orden de la imagen*/
    width: 85%;  
    justify-content: center;
    display: flex;      
  }

  .foto img {
    width: 100%;            
    height: auto;
    object-fit: cover;           
  }
  .info{
    width: 90%;
    max-width: 500px
  }  
  
}

@media (max-width: 431px) {
    .sobre-mi h2 {
        font-size: 2rem; /* todavía más pequeño en celulares */
        text-align: center; /* opcional, por si quieres centrar */
    }
}